.uploadelement {

  display:none;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0;
}

.showURL{
  border:1px solid green;
  padding-left:4px;
  padding-right:4px;
  background-color: #aaa;
  border-radius: 5px;
}
